h1{
    color: brown;
}
body


    
    
    
    /* background attachment:scroll */



#para1{

    border-style: dotted;
border-radius: 20px;
    color: blue;
    border-top-style: dotted;
    border-bottom-style: double;
    border-left-style: solid;
    border-right-style:groove;
}
#para2{
    border-style: solid;
    background-color: aquamarine;
    border-color: brown ;
    color: aquamarine;
}